body {
    background-color: #333;
}

.container {
    text-align: center;
    margin: auto;
}

.display-4 {
    padding-top: 20px;
    padding-bottom: 10px;
}

.navbar .navbar-nav {
    margin: auto;
  }

.navbar-nav {
    cursor: pointer;
}

.navbar-container {
    width: 50%;
    margin: auto;
}

.webcam-container {
    margin: auto;
    width: 80%;
}

.form-group {
    margin: auto;
}

#photovideo-container {
    padding-top: 50px;
}

#video {
    padding-top: 20px;
}

#preview {
    padding-top: 20px;
}