<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', path='/main.css') }}">
    <title>Facemask detection</title>
</head>
<body>
    
    <div class="container">

        <h1 class="display-4 text-white">Wykrywanie maseczki ochronnej na obrazach</h1>

        <div class="navbar-container">
            <nav class="navbar navbar-expand-sm navbar-light">
                <ul class="navbar-nav ms-auto text-center">
                    <li style="text-decoration: underline; font-weight: bold;" id="photovideoBtn" class="nav-link text-white" onclick="photoVideoClick()">Zdjęcie/wideo</li>
                    <li id="cameraBtn" class="nav-link text-white" onclick="webcamClick()">Kamerka internetowa</li>
                </ul>
            </nav>
        </div>

        <div id="photovideo-container">

            <form method="POST" action="" enctype="multipart/form-data" id="myform">
                <div class="mb-1" style="width: 50%; margin: auto;">
                    <label for="file" class="form-label text-white fw-bold">Prześlij zdjęcie lub wideo</label>
                    <br>
                    <input class="form-control" type="file" id="file">
                    <button id="but_upload" type="button" class="btn btn-light fw-bold mt-3">Prześlij</button>
                </div>
            </form> 

            <div id="preview">
                <img src="" id="img">
                <video controls>
                    <source type="video/mp4" src="" id="video_output">
                </video>
            </div>

        </div>
        
        <div id="webcam-container" hidden>
            <button id="start" onclick="start()" class="btn btn-success">Start</button>
            <button id="stop" hidden onclick="stop()" class="btn btn-danger">Stop</button>
        
            <div id="video">
                <video id="camera-output" autoplay="true" playsinline="true"></video>
            </div>
        </div>

    </div>


    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', path='/main.js') }}"></script>
   

</body>
</html>